<div class="margin-container">
    <div class="left-hollow-container">
        <img class="platform-logo" [src]="'assets/'+user.platform+'-logo-SQUARE.jpg'"/>
        <a class="remove-account" (click)="disconnect()">
            <i class="fa fa-circle fa-3x fa-stacked-2x" aria-hidden="true" style="color:white;"></i>
            <i class="fa fa-times-circle fa-3x fa-stacked-1x" aria-hidden="true"></i>
        </a>
        <img class="user-image" [src]="user.pictureUrl"/>
        <div class="name-container">
            <span class="display-name">{{user.displayName}}</span>
        </div>
    </div>
</div>
