.margin-container{
    padding: 30px;
}

.left-hollow-container .user-image{
    position: absolute;
    top:50px;
    left:75px;
    width:150px;
    height:150px;
    border-radius: 75px;
}

.left-hollow-container .platform-logo{
    position: absolute;
	top: 35px;
	left: 60px;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	background-color: white;
	z-index: 1;

    /*
    -webkit-box-shadow: 0px 0px 20px 4px rgba(38,48,60,0.25);
    -moz-box-shadow: 0px 0px 20px 4px rgba(38,48,60,0.25);
    box-shadow: 0px 0px 20px 4px rgba(38,48,60,0.25);
    */
}

.left-hollow-container .remove-account > i{
    position: absolute;
    top:-21px;
    right:-21px;
}

.left-hollow-container .remove-account >.fa-times-circle{
    background-color: transparent;
    color: #26303C   ;
    transition: all 0.15s ease-in;
}

.left-hollow-container .remove-account >.fa-times-circle:hover {
    color: rgb(201, 20, 20);
}

.left-hollow-container .name-container{
    position: absolute;
    margin-top: 225px;
    width:300px;
    height:75px
}

.left-hollow-container .name-container > .display-name{
    font-size: 2em;
    font-family: "Mabry Bold";
}